
@media only screen and (max-width:1346px){
    /* header protion */
    .navigation-section p{
        width: 30%;
    }
    
    .main-nav li{
        margin: 1.5rem;
        margin-left: 0.1rem;
        transition: ease-in-out;
    }

    .food-description-portion h3{
        font-size: 0.6rem;
    }

    .box p{
        font-size: 0.6rem;
        font-weight: 100;
    }

    .row-inline{
        padding-left: 6rem;
    }

    .row{
        height: 12rem;
    }

    .icon{
        width: 20%;
        height: 30%;
    }

    /* city feature  */
    .city-icon{
        font-size: large;
    }
    
}

@media only screen and (max-width:1082px){
    /* header  */
    .main-nav{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .main-nav li{
        margin: 36px 20px 36px 2.4px;
    }
    .main-nav a{
        font-size: 0.8rem;
        width: auto;
        transform: translateX(0.5rem ease-in-out)
    }

    
    .logo{
        width: 4rem;
        height: 4rem;
    }
    .navigation-section p{
        font-size: large;
        width: 12rem;

        
    }

    
    /* food description  */
    .food-description-portion{
        display: grid;
        grid-template-columns: 15rem 15rem;
        column-gap: 0rem;
        place-items: center;
        
    }

    .long-food-description{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: large;
        margin: 0;
    }
    .row{
        height: 14rem;
        width: 80%;
        text-align: center;
        

    }

    .icon{
        transform: translateX(2.9rem);
    }

    
/* city feature  */
    .city-feature h4{
        font-size: large;
    }

    .city-feature-part-1{
        display: grid;
        grid-template-columns: 15rem 15rem;
        place-items: center;
    }

    /* footer section  */

    .footer-nav{
        font-size: 0.1rem;
    }

    .form-box{
        width: 14rem;
    }
}

@media only screen and (max-width:767px){
    h1{
        font-size: xx-large;
    }
    
    .main-nav{
        width: 10%;
    }

    .main-nav li{
        display: none;
        margin: 36px 15px 36px 2.4px;
    }


    /*food portion */

    .food-description-portion{
        
        display: grid;
        grid-template-columns: 10rem 10rem;
        
    }

    .feature-section{
        overflow: hidden;
    }

    .row{
        width: 90%;
    }

   /*meal point*/

   .meal-section{
    height: 8rem;
   }



    /* city menu  */

   
    

    .city-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        width: 100%;
    }

    .city-container img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
    }

    .city-feature-part-1{
        
        width: 100%;
        grid-template-columns: 8rem 8rem;
    }

    /* form box  */
    
    
   

    

    .form-feedback-section h3{
        width: 100%;
    }

    .feedback-point h3{
        width: 100%;
    }

    .feedback-point-second-one{
        width: 80%;
        
    }

    .form-box{
        width: 35%;
         font-size: 0.6rem;
    }

   

    
    /*footer*/

    footer{
        overflow: hidden;
        height: 15rem;
    }

    .footer-inner-part{
        width: 20%;
    }

    .row-inline{
        display: flex;
        flex-direction: column;
    }
    
    
}



@media only screen and (max-width:480px){
    h1{
        font-size: 0.8rem;
    }

    header{
        font-size: 0.4rem;
        height: 82%;
    }

    .btn{
        font-size: 100%;
    }

    .main-nav{
        width: 10%;
    }

    body{
        font-size: 0.5rem;
    }
   .food-description-portion{
    grid-template-columns: 13rem;
   }

   .city-container{
    width: 12rem;
   }

   .city-container img{
    width: 10rem;
   }

   .city-feature{
    grid-template-columns: 15rem;
   }

   .form-feedback-section{
    font-size: large;
   }

   .feedback-point-inner-portion{
    font-size: large;
    width: 200px;
   }

   #find-us{
    font-size: 0.6;
    height: 2rem;
   }

   .form-box input{
        width: 150px;
   }
   
   .form-box{
    width: 5rem;
   }

   .row-inline{
    width: 2rem;
    padding: 3.5rem;
    
   }

   
   

   .form-box textarea{
    font-size: 0.5rem;
    height: 4rem;
    
   }

   input{
    width: 200px;
   }
}